.list {
  grid-column: 2;
  grid-row: 2;
  padding: 0 1rem;

  table {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  tr {
    flex: 1;
    border: 1px solid #dddff9;
    border-radius: 8px;
  }

  th,
  td {
    flex: 1;
    padding: 0.75rem 1rem;
  }

  thead {
    position: sticky;
    top: 0;
    display: flex;

    tr {
      background-color: #eaebf8;
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    tr {
      background-color: #fff;
    }
  }
}
