.filters {
  grid-column: 1;
  grid-row: span 3;
  background-color: #fff;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  padding: 1rem;
  line-height: 2rem;
  font-size: 1.5rem;
}

.inside {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-top: 1px solid #f3f3f3;

  label {
    color: #757575;
  }

  input {
    padding: 0.5rem;
    background: transparent;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    color: #757575;

    &::placeholder {
      color: #757575;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 -10px 10px -10px #f1f1f1;

  button {
    padding: 0.5rem;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    color: #757575;
  }
}
