$mobile-portrait: 768px;

.header {
  order: 3;
  position: sticky;
  bottom: 0;
  z-index: 2;
  background-color: var(--color-4);

  @media (min-width: $mobile-portrait) {
    order: initial;
    top: 0;
    bottom: initial;
  }
}
