@font-face {
  font-family: 'Title';
  src: url('/src/assets/fonts/Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Text';
  src: url('/src/assets/fonts/Text.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
